@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>This is simple student homework app</h2>
    
</div>

<div class="row">
    <div class="text-center text-danger">
        <h3>To test user functionalities use one of theese credentials:</h3>
        <p>Admin role: username: <strong>admin@admin.com</strong>, password: <strong>Admin1</strong></p>
        <p>Some of the users: username: <strong>user[1-9]@@mail.bg</strong>, password: <strong>User123</strong></p>
        <p>Or register your own user</p>
    </div>
</div>